html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* styles  */

/* font sizes */ 

.olexe-tiny {
  font-size: 0.7rem;
}

.olexe-small {
  font-size: 0.8rem;
}

.olexe-medium {
  font-size: 1rem;
}

/* Colors */

.olexe-pink {
  color: rgb(163, 0, 98);
}

.olexe-blue {
  color: rgb(8, 40, 82);
}

.olexe-yellow {
  color: rgb(255, 235, 59);
}

.olexe-lightblue {
  color: rgb(172, 208, 239);
}

/* Background Colors */

.olexe-bgyellow {
  background: rgb(255, 235, 59);
}

.olexe-bgindigo {
  background: rgb(63, 81, 181);
  color: rgb(255, 255, 255);
}

.olexe-bgblue {
    background: rgb(8, 40, 82);;
}

.olexe-bglightblue {
  background: rgb(172, 208, 239);
}

.olexe-bglightgrey {
  background: rgb(242, 242, 242);
}

/* Headers */


/* Top padding and title used in overview the header will be large while the subheader will be anything stored in an ordered/unordered list, p and span afterwards. */

.olexe-header {
  font-size: 1.2rem; 
  padding-top: 25px;

}

/* p/ol/ul/span settings */ 

.olexe-header ol{
  margin-bottom: 25px;
  font-size: 1rem;

}

.olexe-header ul{
  margin-bottom: 25px;
  font-size: 1rem;

}

.olexe-header p{
  margin-bottom: 25px;
  font-size: 1rem;

}

.olexe-header span{
  margin-bottom: 25px;
  font-size: 1rem;

}

/****************************
* FA ICON Title Header */


.olexe-reading-container {
  padding:0.01em 16px;
  
  
}

.olexe-reading-container h5 {
  margin-bottom: -5px;
  margin-top: 15px;
  opacity: 0.6;
}

.olexe-fa-header {
  font-size: 1.2rem;  
  margin-top: 30px;
}

.olexe-fa-header i {
  padding: 25px;
  margin-left: -20px;
  margin-right: -10px;
  vertical-align: middle;
  line-height: 10px;
}

.olexe-fa-header span {
  font-size: 1.2rem;  
  margin-top: 30px;
}


/******************************
* next steps header */

.olexe-header-next-steps h2 {
  border-bottom: 2px solid rgb(172, 208, 239);
  vertical-align: middle;
}

.olexe-header-next-steps h2:before {
  font-family: "FontAwesome";
  content: "\f0a9";
  color: rgb(166, 0, 99);
  font-size: 35px;
  margin-right: 10px;
}

.olexe-next-steps-borderbottom {
  border-bottom: 3px solid #acd0ef;
  width: 60%;
  margin: 0 auto;
}

/* fa font styling */

ul.fa-ul.fa-ul-font-styling li {
  margin-bottom: 6px;
}

ul.fa-ul.fa-ul-font-styling li > i {
  font-size: 1.14rem;
  margin-right: 2px;
}


/* test 

/*****Header for two lines next to font awesome icon******************

This is a test for aligning the header with two sentences. There is currently an issue with verticually alginging the font awesome icon with the text without using numeral padding. 

*/ 

.olexe-fa-align{
    display: inline-block;
    vertical-align: middle;
}

/*****************/ 
.olexe-fa-align p {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 5px;
    padding-top: 20px;

}
.olexe-fa-align i {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 5px;
    margin-right: 5px;
}

/*
 FINAL CODE FOR TWO LINES


<div class="olexe-borderbottom">
    <div class="olexe-fa-align">
        <i class="fa fa-fw fa-3x fa-bar-chart"></i>
        <p><b>Activities and Assignments</b>
            <br>Below is a list of the major activities for this week.
        </p>
    </div>
</div>

*/

/****************************
 Panel/containers - Help with spacing */

/* panel */

.olexe-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.olexe-panel,
p {
  word-wrap: break-word;
}

.olexe-paddingpanel {
  padding: 10px;
}

/* container */

.olexe-container {
  padding: 0.01em 16px;
}


/* rounded borders */

.olexe-roundsm {
  border-radius: 5px;
}

.olexe-roundxl {
  border-radius: 16px;
}

/* centering */

.olexe-transform-center {
  position: relative; 
  display: inline-block; 
  padding-left: 1em; 
  left: 50%; 
  transform: translateX(-50%)
}

/* Flex center */

.olexe-flex-center {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

 

/* borders */

.olexe-borderbottom {
  border-bottom:1px solid #ccc
}

.olexe-border {
  border: 1px solid #ccc;
}

/* Opacity */

.olexe-opacity {
  opacity: 0.6;
}



/******************************************
 Layouts (grid and flexbox) */
/* start of grid */

.olexe-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 1.5rem;
  align-content: space-around;
  margin: 0 0 0 0;
  padding: 10px;
}

.olexe-box {
  border-radius: 5px;
  padding: 1rem;
}

.olexe-griditem1 {
  grid-column: 1 / 1;
  grid-row: span 3;
}

.olexe-griditem1 img {
  width: 100%;
  height: 100%;
  padding: 0;
}

/* Item 2  */

.olexe-griditem2 {
  grid-column-start: 2;
  grid-column: span 2;
  grid-row: span 2;
}

.olexe-griditem2 p {
  text-align: justify;
}

/* Item 3  */

.olexe-griditem3 {
  grid-row: 3;
  grid-column: 2 / span 2;
}

.olexe-griditem3 p {
  margin-bottom: 10px;
}
/* Item 4  */

.olexe-griditem4 {
  grid-column: span 3;
  width: 80%;
  margin: 0 auto;
}

.olexe-griditem4 i {
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
}

.olexe-griditem4 p {
  text-align: center;
}

/* image here */

.olexe-griditem1 img {
  min-height: 210px;
  background: url(testimage.jpg);
  background-size: cover;
  background-attachment: fixed;
}



/* Animations here */

/* Line hover animations */

.olexe-listhover li:hover {
  border-left: 1px solid white;
  animation: olexemove 2s infinite;
}

@keyframes olexemove {
  40% {
    border-left-width: 15px;
  }
}

/***********************************
 page animation from the left (transition) */

.olexe-animate-left {
  float: left;
  transform-origin: 100% 50%;
  animation: olexemain 1.5s;
}

@keyframes olexemain {
  0% {
    transform: scaleX(2);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}



/* assets */




/* take notes */

.olexe-takenotesstyle {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0.01em 16px;
}

.olexe-takenotespositioning {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;

}

.olexe-takenotespositioning i {
  margin-right: 20px;

}

.olexe-takenotestext {
  display: table-cell;
  vertical-align: middle;
  word-break: break-word;
  font-size: 0.9rem;
  padding: 5px;
}

/* FINAL CODE FOR TAKE NOTES: 

<div style="border-radius: 15px;" class="olexe-takenotesstyle">
    <div class="olexe-takenotespositioning">
        <i class="far fa-edit fa-3x olexe-pink" aria-hidden="true"></i></div>
        <p class="olexe-takenotestext">
            Take notes (300-500 words as a rough guidance) on these questions 
            as they will help you with your 30% summative assessment 
            due in week 5.</p>
</div>

 */



/* Please note: This is for the 'please note this is a placeholder used for design purposes' panel */

.olexe-pleasenote {
  background-color: rgb(255, 235, 59);
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.olexe-pleasenote i {
  color: #0053a1;
}

/* FINAL CODE: 

<p class="olexe-pleasenote">
    <i class="fa fa-exclamation-circle " aria-hidden="true"></i>
    <span>Please note, this is a placeholder video used for design purposes</span>
</p>

 */


/* tables */

.olexe-table, .olexe-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

.olexe-table-all {
  border: 1px solid #ccc;
}

.olexe-bordered tr, .olexe-table-all tr {
  border-bottom: 1px solid #ddd;
}

.olexe-striped tbody tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.olexe-striped tbody tr:nth-child(even) {
  background-color: rgba(172, 208, 239, 0.6);
}

.olexe-table-all tr:nth-child(even) {
  background-color: #fff;
}

.olexe-table-all tr:nth-child(odd) {
  background-color: #f1f1f1;
}

/* Old color for (even) table is #fff */

/* needs to be fixed */

.olexe-hoverable tbody tr:hover,
.w3-ul.w3-hoverable li:hover {
  background-color: #ccc;
}

.olexe-centered tr th,
.olexe-centered tr td {
  text-align: center;
}

.olexe-table td,
.olexe-table th,
.olexe-table-all td,
.olexe-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.olexe-table th:first-child,
.olexe-table td:first-child,
.olexe-table-all th:first-child,
.olexe-table-all td:first-child {
  padding-left: 16px;
}


/* FINAL code

This is what you need to put in the class to have a table that looks like the ones used in Sustainable Finance Overview 

<table class="olexe-table olexe-striped olexe-border"
 
*/

/***************************************
 Font awesome play icon next to 'watch'. Used above videos */ 

.olexe-fa-play {
  color: #A30062;
  padding: 5px;
  font-size: 1.5em;
}

.olexe-fa-play-style {
  font-size: 1.2rem;
  margin-top: 15px; 
}

/* FINAL CODE 

<div class="olexe-flex-center olexe-fa-play-style">
    <i class="fas fa-play olexe-fa-play"></i>
    <span>Watch</span> 
</div>

 */



/* Cards */

.olexe-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.olexe-shadow2 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}


/* this is not a complete list panel */

.olexe-not-complete-list {
  margin-top: 16px;
  margin-bottom: 16px;
  background: rgb(242, 242, 242);
}
.olexe-not-complete-list p:before {
  font-family: "FontAwesome";
  content: "\f0a9";
  color: rgb(0, 83, 161);
}
.olexe-not-complete-list p {
  content: "Please note, this is not a complete list – you may have additional actions.";
}

/**************************************/
/* Video introduction panel (this goes on the bottom of the video to provide an overview of key activities for the week 

This is a white panel with a 3x font awesome imporant icon in exeter blue */ 

.olexe-white-overview-style {
  width: 640px;
  margin: 0 auto;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0.01em 16px;
}

.olexe-white-overview-positioning {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;

}

.olexe-white-overview-positioning i {
  margin-right: 20px;

}

.olexe-white-overview-text {
  display: table-cell;
  vertical-align: middle;
  word-break: break-word;
  font-size: 0.9rem;
  padding: 5px;
}

/* FINAL CODE 

<div class="olexe-white-overview-style">
    <div class="olexe-white-overview-positioning">
        <i class="fas fa-exclamation-circle fa-3x olexe-blue" aria-hidden="true"></i></div>
        <p class="olexe-white-overview-text">
            This video will introduce you to the learning objectives of this week, provide you with an  overview of key activities we will do this week, and it will provide a brief overview of a key topic of this week.</p>
</div> 
*/


/********************************
Suggested days panel: Used in the overview where it says 'these suggested days are just a rough guidance.' 
*********************/
/* 
.tablestyle {
  background-color: rgb(242, 242, 242);
  border-radius: 20px;
  padding: 1rem;
  width: 75%;
}

.table {
  display: table-row;
}


.table td i:first-child{
  vertical-align: middle;
  margin-right: 15px;
} 

/* FINAL CODE 

    <table class="tablestyle">
        <td>
            <i class="fas fa-3x fa-fw fa-exclamation-circle"></i>
        </td>
        <td>
            <span>The suggested days are just a rough guidance. You may do these activities at your own individual pace throughout this week. However, please try to complete all activities this week as you will only receive feedback on activities submitted by the end of this week. It also ensures that you can engage with your fellow students on the same activities and they can benefit from your contribution, too.</span>
            <p class="olexe-tiny">
                * = Compulsory submission deadline
            </p>
        </td>
    </table>

*/ 
/* 
*THIS IS THE SAME PANEL USING A TABLE TO CREATE IT. THIS IS NO LONGER IN USE. PLEASE USE THE FLEXBOX METHOD BELOW/ */

/*********FLEX Attempt 3*******/

.olexe-guidance-flex {
  display: flex;
  flex-direction: row;
  width: 75%;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: 3px solid #082852;
  border-radius: 20px;
  align-items: center; 
  justify-content: center;
}

.olexe-guidance-flex i{ 
  margin-right: 15px;
  color: #082852;
}

/* FINAL CODE: 


<div class="olexe-guidance-flex">
    <div class="olexe-flexFA">
        <i class="fas fa-3x fa-fw fa-exclamation-circle"></i>
    </div>
    <div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, minus provident amet hic aut a! Est, sapiente quae? Explicabo et ab quo ipsum, iusto facere earum nihil officia neque! Laudantium. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ex alias veritatis necessitatibus, quod repellat?
        </span>
        <p class="olexe-tiny">
            * = Compulsory submission deadline
        </p>
    </div>
</div> */


/***********************************
 You are in week X */ 

.olexe-you-are-in {
  margin: 30px 0 40px 0;

}

/* FINAL CODE: 

<div class="olexe-you-are-in">
    <i class="fa fa-location-arrow fa-1x" aria-hidden="true"></i>
    <span>You're in Week 1: Introduction</span>
</div> 

*/


/********************************** 
Reading panel asset  */

/* Containers for readings */

.olexe-reading-subheader {
  padding:0.01em 16px;
  
  
}

.olexe-reading-subheader h6 {
  margin-bottom: -5px;
  margin-top: 15px;
  opacity: 0.6;
}

.olexe-readings {
  display: inline-block; 
  font-size: 1.0rem;  
  border-radius: 10px;
  padding: 15px;
  padding-left: 3px;
}

.olexe-reading-panel ol *:not(:first-child) {
  margin-top: 10px;
  
}

.olexe-reading-panel ol {
  padding-top: 15px
}

.olexe-reading-panel ul *:not(:first-child) {
  margin-top: 10px;
  
}

.olexe-reading-panel ul {
  padding-top: 15px
}

.olexe-reading-panel {
  margin-top:16px; 
  margin-bottom:16px;
  background: rgb(242, 242, 242);
  border:1px solid #ccc;
  display: inline-block;
  border-radius: 10px;
  padding: 0 3 0 0 ;


}